DATABASE_URL=""
EMAIL_SERVICE_TOKEN=""
GNZ_AUTH_DATABASE_TYPE=""
GNZ_AUTH_DATABASE_URL=""
GNZ_AUTH_FUNCTION_URL=""
GNZ_AUTH_GOOGLE_ID=""
GNZ_AUTH_GOOGLE_SECRET=""
GNZ_AUTH_JWT_TOKEN_SECRET=""
GNZ_AUTH_PASS_RESET_MAIL_TEMPLATE_MESSAGE=""
GNZ_AUTH_PASS_RESET_MAIL_TEMPLATE_SUBJECT=""
GNZ_AUTH_TYPES=""
GNZ_AUTH_VERIFICATION_MAIL_TEMPLATE_MESSAGE=""
GNZ_AUTH_VERIFICATION_MAIL_TEMPLATE_REDIRECT_URL=""
GNZ_AUTH_VERIFICATION_MAIL_TEMPLATE_SUBJECT=""
SEND_MAIL_HOST=""
SEND_MAIL_PASS=""
SEND_MAIL_SERVICE=""
SEND_MAIL_USER=""
BETTER_AUTH_SECRET=""